.btn-pill {
    padding: 3px;
    height: 18px;
    line-height: 14px;
    font-size: 12px;
    text-transform: none;
	margin:2px;
}
.btn-pill-large{
    padding: 5px;
    height: 30px;
    line-height: 21px;
    font-size: 14px;
    text-transform: none;
    margin: 2px;
}
.btn-full{
	width:100%;
}
.btn-pill-large-selected{
	border-bottom: 1px solid;
}
.custom-card-title{
	line-height: 10px  !important;;
}
.filterContainer{
	position: fixed;
    z-index: 999;    
    margin-top: 5px;
}

.card-body{
	height: 145px;   
    padding: 0px 10px;
}

@media only screen and (min-width: 0){
	.card-img{
		height:300px;
	}
	.card-img-big{
		height:350px;
	}
}

@media only screen and (min-width: 992px){
	.card-img{
		height:200px;
	}
	.card-img-big{
		height:300px;
	}
}
@media only screen and (min-width: 1200px){
	.card-img{
		height:150px;
	}
	.card-img-big{
		height:200px;
	}
}
