body{
background-image: url('../img/background.jpg');
background-repeat: no-repeat;
background-size: 100%;
}
.column-header{
border-radius: 10px;
z-index: 999999;
padding: 4px;
font-size: 30px;
color: white;
text-shadow: -2px -2px 2px black;
cursor: pointer;
text-align: center;
background: url('../img/background.jpg');
background-size: cover;
position: absolute;
box-shadow: -8px -6px 5px rgba(0, 0, 0, 0.75);
border-bottom: 2px solid white;
border-right: 2px solid rgba(255, 255, 255,0.8);
border-top: 2px solid rgba(0, 0, 0, 0.5);
border-left: 2px solid rgba(0, 0, 0, 0.5);
margin: 11px;
width: 97%;
}
.column-header a{
text-decoration: none;
font-size: 18px;
float: right;
margin-top: 7px;
text-shadow: 1px 1px 1px #FFF;
color: #555;
}

.cover{
	position:absolute;
	background-image: url('../img/background.jpg');
	z-index: 9999;	
	cursor: pointer;
}

.hole,.hole2{
box-shadow: inset -10px -10px 10px rgb(27, 27, 27);
border-right: 2px solid rgb(174, 174, 174);
border-bottom: 2px solid rgb(177, 177, 177);
border-left: 2px solid rgb(206, 206, 206);
border-top: 2px solid rgb(201, 201, 201);
/*border-radius: 200px;*/
}

.hole:hover{
box-shadow: inset -15px -15px 15px #1B1B1B;
}
.hole2:hover{
box-shadow: inset -2px -2px 5px #1B1B1B;
}
.borderRadius{
	border-radius: 200px;
}

.hole{
position:absolute;
}
.hole2{
width:100%;
height:100%;
}

.hole2 .content{
	margin-top: 10px;
padding: 20px;

}
.hole2 .title{
font-size: 25px;
text-align: center;
font-size: 25px;
color: #FFF;
text-shadow: 1px 1px 1px #000;
}
.hole2 .description{
margin-top: 10px;
margin-left: 3px;
}
